.aboutUs{
  padding: 5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#text-content{
  padding: 1rem;
}
#profile-pic{
  padding: 1rem;
}
