<footer id="footer">
  <section id="about-details">
    <div class="footer-text">
      <h5>About Company</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </p>
    </div>
  </section>
  <section>
    <h5>Quick Links</h5>
    <div class="quick-links">
      <p>About US</p>
      <p>Services</p>
      <p>Testimonials</p>
      <p>Contact US</p>
    </div>
  </section>
  <section>
    <div class="links">
      <h5>Social Media</h5>
      <ul>
        <li>
          <a href="#"><span class="fab fa-facebook-f"></span></a>
        </li>
        <li>
          <a href="#"><span class="fab fa-twitter"></span></a>
        </li>
        <li>
          <a href="#"><span class="fab fa-instagram"></span></a>
        </li>
        <li>
          <a href="#"><span class="fab fa-linkedin-in"></span></a>
        </li>
      </ul>
    </div>
  </section>
  <div class="footer-section"></div>
</footer>
