// .header{
//   // background: transparent;
//   padding: 1rem 0;
//   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//   position: fixed;
//   width: 100%;
//   z-index: 3;
// }

.pages{
  padding: 2rem;
}


.footer{
  bottom: 0px;
  position: relative;
}
